<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SetStockServlet</servlet-name>
        <servlet-class>Servlet.SetStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmployeeServlet</servlet-name>
        <servlet-class>Servlet.GetEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmployeeServlet</servlet-name>
        <servlet-class>Servlet.EditEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>Servlet.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>Servlet.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectTypeServlet</servlet-name>
        <servlet-class>Servlet.SelectTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetStockServlet</servlet-name>
        <url-pattern>/SetStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeeServlet</servlet-name>
        <url-pattern>/GetEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeServlet</servlet-name>
        <url-pattern>/EditEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/DeleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectTypeServlet</servlet-name>
        <url-pattern>/SelectTypeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
